div#matrix {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 500px;
    /* margin: 5% auto; */
    justify-content: space-around;
    border-radius: 40px;
    border-style: solid;
    overflow: hidden;
    box-sizing: border-box;
    border-width: 12px;
    /* border-color: white; */
}

.row {
    height: 25%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 23%;
    height: 94%;
    background-color: cornflowerblue;
    font-size: 3rem;
    text-align: center;
    line-height: 120px;
    border-radius: 17px;
    box-sizing: border-box;
    border-width: 2px;
    border-color: rgb(85, 190, 178);
    border-style: solid;
    transition: all 0.2s;
}
#score:before{
    content: "Score : ";
}
#highscore:before{
    content: "High Score : ";
}
div#scores {
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 400px;
    height: 10%;
    align-items: center;
    font-size: x-large;
    color: cornflowerblue;
    font-weight: bold;
    border: solid 4px rgb(85, 190, 178);
    border-radius: 20px;
}
div#arena {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

body {
    background-color: rgb(96, 112, 118);
    height: 640px;
    margin: 0;
}

._2{
    background-color: yellow;
}
._4{
    background-color: brown;
}
._8{
    background-color: blueviolet;
}
._16{
    background-color: springgreen;
}
._32{
    background-color: darkorange;
}
._64{
    background-color: deeppink;
}
._128{
    background-color: red;
}
._256{
    background-color: palegoldenrod;
}
._512{
    background-color: sienna;
}
._1024{
    background-color: snow;
}
._2048{
    background-color:lime;
}
._4096{
    background-color:white;
}
._2:after {
    content: "2";
}
._4:after {
    content: "4";
}
._8:after {
    content: "8";
}
._16:after {
    content: "16";
}
._32:after {
    content: "32";
}
._64:after {
    content: "64";
}
._128:after {
    content: "128";
}
._256:after {
    content: "256";
}
._512:after {
    content: "512";
}
._1024:after {
    content: "1024";
}
._2048:after {
    content: "2048";
}
._4096:after {
    content: "4096";
}
